name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request_target: {}

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  try-scenarios:
    name: ${{ matrix.try-scenario }}
    runs-on: ubuntu-latest
    timeout-minutes: 10

    permissions: write-all

    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - ember-lts-4.4
          - ember-lts-4.8
          - ember-lts-4.12
          - ember-release
          - ember-beta
          - ember-canary
          - embroider-safe
          - embroider-optimized

    steps:
      - uses: actions/checkout@v3
      - uses: wyvox/action-setup-pnpm@v2
        with:
          node-version: 16
      - name: Run Tests
        id: scenarios
        run: ./node_modules/.bin/ember try:one ${{ matrix.try-scenario }}
        continue-on-error: true
      - uses: mainmatter/continue-on-error-comment@logging
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          outcome: ${{ steps.scenarios.outcome }}
          test-id: ${{ matrix.try-scenario }}
